body{
background-image: url('https://wallpapercave.com/wp/wp5542083.png');
 background-attachment: initial;
 background-position: center;
 background-repeat: no-repeat;
 background-size: 100%;
 font-family: Courier, monospace;
 color:white;
 background-color: #009bd1;
}

