body{
background-image: url('https://images2.alphacoders.com/220/thumb-1920-220610.png');
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: 100%;
 font-family: Courier, monospace;
 color:white;
 background-color: #009bd1;
}

