<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Calculadora</title>
  </head>
  <body class="bg-secondary ">


      <div class="row justify-content-md-center bg-dark">

          <div class="col-sm-3 text-center text-white mt-4">
          <img height="200px" src="https://image.flaticon.com/icons/png/512/1815/1815966.png" alt="">
                      <form action="/results" method="POST">
                      <h4 class="text-info">Calculadora Phyton</h4>
                       <input type="text" name="value1" class="form-control mb-4" placeholder="valor A" required>
                       <input type="text" name="value2" class="form-control" placeholder="valor B" required>

                          <h5>Selecione a operação</h5>

                          <select name="op" class="custom-select">
                            <option selected value="soma">soma</option>
                              <option value="sub">subtração</option>
                              <option value="mult">multiplicacao</option>
                              <option value="div">divisão</option>
                        </select><br><br>

                           <input width="100%" type="submit" class="btn btn-success mb-5">
                          <br>
                   </form>

</div>

      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>
